@page
@model warehouse_app.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Warehouse App</h1>

<a class="nav-link text-dark" asp-area="" asp-page="/Anion/Index">Anion</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Cation/Index">Cation</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Company/Index">Company</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Delivery/Index">Delivery</a>
<a class="nav-link text-dark" asp-area="" asp-page="/DeliveryDetails/Index">DeliveryDetails</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PackagingType/Index">PackagingType</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Person/Index">Person</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Sale/Index">Sale</a>
<a class="nav-link text-dark" asp-area="" asp-page="/SaleDetails/Index">SaleDetails</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Water/Index">Water</a>
<a class="nav-link text-dark" asp-area="" asp-page="/WaterType/Index">WaterType</a>
