@page
@model warehouse_app.Pages.Ion.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ion.Id" />
            <div class="form-group">
                <label asp-for="Ion.Name" class="control-label"></label>
                <input asp-for="Ion.Name" class="form-control" />
                <span asp-validation-for="Ion.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ion.Symbol" class="control-label"></label>
                <input asp-for="Ion.Symbol" class="form-control" />
                <span asp-validation-for="Ion.Symbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ion.Content" class="control-label"></label>
                <input asp-for="Ion.Content" class="form-control" />
                <span asp-validation-for="Ion.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ion.CationWaterId" class="control-label"></label>
                <select asp-for="Ion.CationWaterId" class="form-control" asp-items="ViewBag.CationWaterId"></select>
                <span asp-validation-for="Ion.CationWaterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ion.AnionWaterId" class="control-label"></label>
                <select asp-for="Ion.AnionWaterId" class="form-control" asp-items="ViewBag.AnionWaterId"></select>
                <span asp-validation-for="Ion.AnionWaterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
