@page
@model warehouse_app.Pages.Water.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Water</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Water.Name" class="control-label"></label>
                <input asp-for="Water.Name" class="form-control" />
                <span asp-validation-for="Water.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Water.TypeId" class="control-label"></label>
                <select asp-for="Water.TypeId" class ="form-control" asp-items="ViewBag.TypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Water.ProducerId" class="control-label"></label>
                <select asp-for="Water.ProducerId" class ="form-control" asp-items="ViewBag.ProducerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Water.pH" class="control-label"></label>
                <input asp-for="Water.pH" class="form-control" />
                <span asp-validation-for="Water.pH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Water.PackagingId" class="control-label"></label>
                <select asp-for="Water.PackagingId" class ="form-control" asp-items="ViewBag.PackagingId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Water.Photo" class="control-label"></label>
                <input asp-for="Water.Photo" class="form-control" />
                <span asp-validation-for="Water.Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
