@page
@model warehouse_app.Pages.PackagingType.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PackagingType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PackagingType.Id" />
            <div class="form-group">
                <label asp-for="PackagingType.Type" class="control-label"></label>
                <input asp-for="PackagingType.Type" class="form-control" />
                <span asp-validation-for="PackagingType.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PackagingType.Capacity" class="control-label"></label>
                <input asp-for="PackagingType.Capacity" class="form-control" />
                <span asp-validation-for="PackagingType.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
